
#content main .table-data .Recent Update {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .Recent Update .Recent Update-list {
	width: 100%;
}
#content main .table-data .Recent Update .Recent Update-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .Recent Update .Recent Update-list li .bx {
	cursor: pointer;
}
#content main .table-data .Recent Update .Recent Update-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .Recent Update .Recent Update-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .Recent Update .Recent Update-list li:last-child {
	margin-bottom: 0;
}